body{
    height: 90rem;
}

.button{ /* Stley button*/
    display: inline-block;
    background: var(--orange);
    color: #fff;
    padding: 12px 20px;
    border: 2px solid var(--orange);
    border-radius: 13px;
    cursor: pointer;
    font-size:1.7rem;
    
}
.button:hover{
    background: rgba(255, 165, 0, .2);
}


 .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
 }
 .home .contact{
    text-align: center;
 }
 .home .contact span{
    color: var(--orange);
    text-transform: uppercase;
 }
 .home .contact h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .9rem 1.5rem rgba(0, 0, 0, 2);
  
 }
 .home .contact p{
    margin-top: 2rem;
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
    text-shadow: 0 .9rem 1.5rem rgba(0, 0, 0, 10);
    text-justify: auto;
    line-height: 3.7rem;
 }


 .home .contact2{
    text-align: center;
 }

 .home .contact2 p{
    
    margin: 3.5rem 0 2rem 0;
    font-size: 4.5rem;
    color: #fff;
    padding: .5rem 0 ;
    text-shadow: 0 .9rem 1.5rem rgba(0, 0, 0, 10);
    text-justify: auto;
    line-height: 3.7rem;
 }


